{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": true,
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
